body{
    font-family: sans-serif;
    background-color: #fffbe6;
    text-align:center;
    padding: 70px;
}
h2{
    color: darkorange;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #ffa726;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
jokeBox{
    margin-top: 30px;
    padding: 20px;
    background-color: #fff3e0;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    
}